*{
    margin: 0;
    padding: 0;

}

body{
    background-image: url("/Images/flower.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.navigation-bar a{
    color:  rgb(255, 255, 255);
    text-decoration: none;
    
}
.navigation-bar ul{
    display: flex;
    padding: 20px;
    float: right;
}
.navigation-bar ul li{
    padding: 20px;
    list-style-type: none;
    border: 1px solid black;
    margin: 10px;
    background-color: rgb(21, 27, 80);
    border-radius: 10px;
}    

.navigation-bar ul li:hover{
        background-color: rgb(205, 205, 209);
        color: black;
       

    }



    

    
 .home-page{
    padding: 200px;
    border: 11px solid rgb(253, 244, 244);
    text-align: center;
    color: aliceblue;
    
 }   

.home-page h1{
    color: white;
}


.home-page img{

    height: 500px;
    width: 800px;
    border-radius: 20px;

}




.Aboutme{
    padding: 500px;
    border: 11px solid rgb(2, 2, 255);
    text-align: center;
    color: aliceblue;
    
 }   


.Contactme{
    padding: 500px;
    border: 11px solid rgb(244, 0, 0);
    text-align: center;
    color: aliceblue;
    
 }   
