*{
     
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}



.bigborder{

    border: 1px solid #aff1b4;
    padding: 50px;
    background-image: url("/Images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}


.contact{

    min-height: 100vh;
    padding: 50px;
    border: 1px solid black;

}

 

.container{

    max-width: 800px;
    margin:  0 auto;
}

.container h2{

    font-size: 36px;
    margin-bottom: 60px;
    color: #070505;
    text-shadow: 1px 1px 1px rgb(132, 151, 132);
    text-align: center;
   
    
}
.contact-wrapper{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.contact-form{

    text-align: left;
}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.form-group{

    margin-bottom: 20px;
    box-shadow: 1px 1px 1px #000000;
}
input, textarea{

    width: 100%;
    padding: 20px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
}
input:focus,

textarea:focus{

    outline: none;
    box-shadow: 0 0 8px #bbb;

}
button{
    display: inline-block;
    padding:  12px 24px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    border: 1px solid black;
}
button:hover{
    background-color: #45a049;

}
.contact-info{
    text-align: left;
    margin-left: 50px;
    margin-top: 10px;
}
.contact-info h3{

    font-size: 24px;
    margin-bottom: 20px;
    color: #333;

}
.contact-info p{

        margin-bottom: 10px;
        color: #555;
}
.contact-info i{
    color: #4caf50;
    margin-right: 10px;
}


@media screen and (max-width: 768px){

    .container{
        padding: 20px;
    }
    .contact-wrapper{        
        grid-template-columns:  1fr;
        
    }
}


